.header{
    margin: auto;
    padding: 10px;
    width: 90%;
    max-width: 700px;
}

.header h2{
    font-family: Roboto;
    font-size: 22px;
}

.laravel-icon{
    height: 85px;
    width: auto;
}

a{
    text-decoration: none;
    color: #2d3748;
    font-family: Roboto;
    font-size: 26px;
}

h1{
    font-size: 75px;
    font-family: Georgia;
    color: #4a5568;
    width: 70%;
}

h2{
    font-size: 21px;
    font-family: Georgia;
}

h3{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fira Code';
    text-decoration: none;
}

.text{
    margin: auto;
    padding: 15px;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
}

p{
    font-size: 22px;
    font-family: Futura;
}
