
.title-blog{
    margin: auto;
    max-width: 700px;
    margin-top: 50px;
    padding: 15px;
    border-top: solid black 1px;
}

.body-blog{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 13px;
    max-width: 700px;
}

a{
    color: black;
    text-decoration: none;
}

header{
    margin: auto;
    padding: 5px;
    width: 64%;
    text-align: center;
    max-width: 700px;
}

header h1{
    font-size: 89px;
    font-family: "Fira Code";
}

h1{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Fira Code";
}

h2{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    margin: 0 auto;
}

h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    margin: auto;
    padding: 12px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
}

article{
    margin: 0 auto;
    width: 40%;
    padding: 3px;
}

article h1{
    font-size: 52px;
}
