
.title-blog{
    margin: auto;
    max-width: 700px;
    margin-top: 50px;
    padding: 15px;
    border-top: solid black 1px;
}

.body-blog{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 13px;
    max-width: 700px;
}

a{
    font-size: 52px;
    color: #000000;
    width: 60%;
    text-decoration: none;
    font-family: Futura;
}


header{
    margin: auto;
    width: 64%;
    text-align: left;
    max-width: 700px;
}

header h1{
    font-size: 102px;
    font-family: "Fira Code";
    color: #4a5568;
}

h2{
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1a202c;
    font-style: italic;
}

h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    margin: auto;
    padding: 12px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
}

article{
    margin: 0 auto;
    width: 40%;
    padding: 3px;
}

article h1{
    font-size: 52px;
}
