
.title-blog{
    margin: auto;
    max-width: 700px;
    margin-top: 50px;
    padding: 15px;
    border-top: solid black 1px;
}

.body-blog{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 13px;
    max-width: 700px;
}

a{
    font-size: 52px;
    display: flex;
    color: #000000;
    font-style: italic;
    text-decoration: none;
    font-family: "Avenir Next Condensed";
}


header{
    margin: auto;
    width: 64%;
    text-align: left;
    max-width: 700px;
}

h1{
    font-size: 82px;
    font-family: Georgia;
    color: #4a5568;
    margin: 0 auto;
    width: 60%;
    padding: 15px;
}

article h1{
    width: 90%;

}

h2{
    font-size: 18px;
    font-family: Futura;
    color: #718096;
}

h3{
    font-size: 16px;
    font-family: "SF Pro";
    margin: 0 auto;
    width: 70%;
    color: #4a5568;
    line-height: 1.9;

}

.text{
    margin: auto;
    padding: 12px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
}

article{
    margin: 0 15%;
    width: 40%;
    padding: 10px;
    display: flex;
}

article h1{
    font-size: 52px;
}
