.header{
    margin: auto;
    padding: 30px;
    width: 50%;
    max-width: 700px;
}

a{
    text-decoration: none;
    color: #2d3748;
    font-family: Futura;
    font-size: 28px;
}

h1{
    font-size: 98px;
    font-family: 'Fira Code';
    color: #4a5568;
}

h2{
    font-size: 21px;
    font-family: 'Fira Code';
}

h3{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Fira Code';
    text-decoration: none;
}

.text{
    margin: auto;
    padding: 25px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
}

p{
    font-size: 28px;
    font-family: Futura;
}

article{
    width: 70%;
    margin: 0 auto;
}
